<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memo Result</title>
</head>

<body>
    <h1 class="display-4">Express 서버에서 응답한 결과</h1>
    <div class="alert alert-success" role="alert">메모가 저장되었습니다!</div>
    <hr>
    <div class="mb-3">
        <p>
            <%= paramMemo %>
        </p>

        <% if (uploadedFile && uploadedFile.path) { %>
            <img src="<%= uploadedFile.path %>" alt="업로드된 이미지">
            <% } %>
    </div>
    <a href="/" class="btn btn-primary">다시 작성</a>
</body>

</html>